<div id="<%= dom_id coin %>">
  <p>
    <strong>Description:</strong>
    <%= coin.description %> |
    <strong>Acronym:</strong>
    <%= coin.acronym %> |
    <strong>Image</strong>
    <img src="<%= coin.url_image %>" width="50px" height="50px"/> <!-- Forma mais ineficiente de fazer -->
    <%= image_tag coin.url_image, size: Coin::COIN_ICON_SIZE%> <!-- Constante definida lá no models -->
  </p>

</div>
