<p style="color: green"><%= notice %></p>
<%= convert_to_brazilian_date(Date.today)%>
<h1>Coins</h1>

<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    <p>
      <%= link_to "Show", coin %>
    </p>
  <% end %>
</div>

<%= link_to "New coin", new_coin_path %>
